@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body{
    margin: 0;
    background-color: #F6F6F6;
    font-family: "Roboto", sans-serif;
}

.container{
    background-color: #FFFFFF;
    text-align: right;
    width: 75%;
    height: 75%;
    position: relative;
    margin: 50% 2em 2em 2em;
    padding: 5%;
    justify-items: auto;
    border-radius: 3%;
    box-shadow: 0px 4px 8px 0px #e6e5e5, 0 0 6px 4px #e6e5e5;
}

.error{
    color: red;
    font-weight: bolder;
}

h1, p, ul{
    text-align: left;
}

h1 {
    font-weight: 800;
    line-height: 1.05em;
}

h1::first-line{
    font-weight: bold;
}

p{
    font-weight: 500;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;   
}

ul li{
    padding-top: .5em;
    padding-bottom: .5em;
}

ul li label{
    font-weight: bold;  
}

.displayEmail{
    font-weight: bold;
}

ul li input{
    border-radius: 7px;
    border: 2px solid #e6e5e5;
    width: 97%;
    height: 2em;
    margin-top: .4em;
}

button{
    background-color: red;
    background-image: linear-gradient(to right, orangered 11%, red 100%);
    color: white;
    border-radius: 7px;
    border: none;
    height: 2em;
    margin-top: .4em;
}

@media only screen and (min-width: 500px){

    .container{
        margin-left: 2.7em;
    }

    button{
        margin-right: .4em;
        height: 3em;
        width: 6em;
        font-size: medium;
    }
}

@media only screen and (min-width: 800px){

    .container{
        width: 50%;
        height: 10%;
        padding: 2% 3%;
        margin-left: 11em;
    }
    button{
        margin-right: .4em;
        height: 2.5em;
        width: 6em;
        font-size: medium;
        padding: 0 2% 0 2%;
    }
}

@media only screen and (min-width: 1000px){

    .container{
        width: 40%;
        margin-left: 17em;
        margin-top: 25em;
    }

    button{

        margin-right: .4em;
    }
}

@media only screen and (min-width: 1100px){

    .container{
        width: 35%;
        margin-left: 21em;
        padding-top: 1%;
    }
    button{
        margin-right: .4em;
        height: 2.5em;
        width: 6em;
        font-size: medium;
    }
}

@media only screen and (min-width: 1400px){

    .container{
        width: 30%;
        margin-left: 28em;
        padding: .8% 1.7% 2% 1.7%;
    }
    button{
        margin-right: .4em;
        height: 2.5em;
        width: 6em;
        font-size: medium;
    }
}

@media only screen and (min-width: 1500px){

    .container{
        width: 30%;
        margin-left: 29em;
    }
    button{
        margin-right: .4em;
        height: 2.5em;
        width: 6em;
        font-size: medium;
    }
}

@media only screen and (min-width: 1900px){

    .container{
        width: 23%;
        margin-left: 44em;
    }
    button{
        margin-right: .4em;
        height: 2.5em;
        width: 6em;
        font-size: large;
    }
}

@media only screen and (min-width: 2400px){

    .container{
        width: 17%;
        margin-left: 62em;
        padding: .5% 1.2% 1.2% 1.2%;
    }
    button{
        margin-right: .4em;
        height: 2.5em;
        width: 6em;
        font-size: large;
    }
}